@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .Container {
    @apply  w-full min-h-screen flex items-center justify-between flex-col flex-nowrap;
  }

  .LogoText {
    @apply px-50px text-4xl font-bold;
  }

  .Btn {
    @apply w-130px py-8px px-14px border border-black border-solid;
  }

  .Btn:hover {
    @apply bg-black text-white;
  }

  .Navbar {
    @apply w-full flex  items-center justify-center flex-row flex-nowrap;
  }

  .Items {
    @apply mx-10px;
  }

  .Home {
    @apply w-full;
  }

  .Center {
    @apply w-full h-full px-4 py-16 mx-auto sm:max-w-xl md:max-w-full lg:max-w-screen-xl md:px-24 lg:px-8 lg:py-20;
  }

  .works {
    @apply w-full grid gap-8 lg:grid-cols-3 sm:gap-20 max-lg:grid-cols-2;
  }

  .project {
    @apply border border-gray-800 flex flex-col overflow-hidden transition-shadow duration-300 rounded shadow-md;
  }
  .img img {
    @apply object-cover w-full h-64;
  }
  .content {
    @apply p-5 flex flex-col bg-white flex-1;
  }

  .workNav {
    @apply  w-full h-10 flex justify-start items-center flex-row flex-nowrap px-100px py-30px;
  }
}

@layer base {
  .Nav {
    @apply w-full h-80px bg-slate-200 p-10px flex items-center justify-between flex-row flex-nowrap;
  }

  .Link {
    @apply no-underline;
  }
}
