* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1rem;
}

header .nav .navbar-menu-mobile {
    display: none;
}

/*** Main style ***/
.slogo {
    color: #c00d0d;
    font-size: 2.4rem;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style-type: none;
}

/** Header  */
header {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
}

header .nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: #86a68a;
}

/** Logo  */

header .nav .logo {
    margin: 0px 20px;
}

header .nav .logo a {
    font-size: 2rem;
    font-weight: 900;
}

/** Menu  */

header .nav .navbar .navbar-menu {
    position: relative;
}

header .nav .navbar .navbar-menu .menu {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row nowrap;
}

header .nav .navbar .navbar-menu .menu li {
    margin: 0px 4px;
    padding: 25px 0px;
}


header .nav .navbar .navbar-menu .menu a {
    padding: 10px 15px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    opacity: .5;
}

header .nav .navbar .navbar-menu .menu a:hover {
    background: #c6c6c6;
}

/** Button  */

button {
    font-size: 18px;
    color: #e1e1e1;
    font-weight: 800;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
}

button:focus,
button:hover {
    color: #fff;
}

button:focus:after,
button:hover:after {
    width: 100%;
    left: 0%;
}

button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #fff;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
}